[2017-12-09 22:37] star-buck opened #1 "Create neon-pinebook img"

[2017-12-12 12:27] jriddell opened #2 "Get Casper into initrd"
Casper is the scripts used by ubuntu distros to setup a live environment.  It's installed on the neon disk image but the script don't make it into the init ram disk so they don't get run.  Work out what to do to fix this.

[2017-12-12 12:28] jriddell opened #3 "Build Neon pine images from NCI"
Build the Pinebook images from Neon CI and upload to same place as ISOs

[2017-12-12 12:29] jriddell opened #4 "Qt patch"
David says we need a Qt patch
https://codereview.qt-project.org/#/c/213329/

[2017-12-12 12:30] jriddell opened #5 "Xsession.d stuff"
David wants some files in Xsession.d for Pinebook, they should go into neon-settings in a new neon-settings-pine .deb
https://packaging.neon.kde.org/neon/settings.git/

[2017-12-12 12:31] jriddell opened #6 "Repo with linux, X and mesa builds"
We need a separate apt repo to host the Linux, X driver (armsoc) and mesa (mali) builds.  They can't be part of Neon as they're base infrastructure and hard to build or for mesa proprietary but an external aptly repo can be treated the same as Ubuntu repo as the base for Neon

[2017-12-12 12:33] jriddell opened #7 "live-build update from Debian SID in Neon"
Pinebook images need a new live-build taken from Debian Sid.  Add this to Neon CI.  It may well break the ISO builds which use the older Ubuntu fork of live-build so make sure that version still gets installed for them.

[2017-12-12 12:34] #1 closed, assigned to jriddell

[2017-12-12 13:42] #4 closed, assigned to nobody

[2017-12-12 14:00] jriddell opened #8 "Get Calamares installed"
Add Calamares to the image to do whatever it needs to do: setup user, resize partition etc

[2017-12-12 15:09] sebasje opened #9 "Hide Plasma Wayland and fvwm sessions"
Wayland can't work currently, so the wayland session shouldn't be shown in sddm. Also fvwm is broken, better also hide that session.

[2017-12-12 15:15] jriddell opened #10 "Remove fvwm"
Not needed now Plasma desktop is there

[2017-12-12 15:23] llelectronics opened #11 "FF: preload app window comes up upon start"
Firefox preloading as seen in here: https://github.com/netrunner-pinebook/netrunner-pinebook-firefox-preload

The **sleep** in the script needs checking. It is not very elegant and maybe needs raising in the short term (for the starbuck demo image) until a proper other fix is available.

[2017-12-12 15:26] llelectronics opened #12 "Disable second wifi"
We wrote a little live build hook for it.
Maybe it needs proper packaging it up.
See: https://github.com/netrunner-pine64/pine64-live-build-netrunner-core/commit/08121650af9558e0c1691e934d2f90c8cc7ad069

[2017-12-12 15:29] llelectronics opened #13 "Bluetooth support"
We have packaging for the firmware files here:
https://github.com/netrunner-pine64/rtl8723ds-bt-firmware

The sources (bt-firmware) is hiding here:
https://github.com/ayufan-pine64/linux-build

[2017-12-12 15:30] sebasje opened #14 "Massive flickering of Plasma panels and dialogs"
I get massive flickering of Plasma panels and dialogs in the neon image. Not present in the pinebook images.

[2017-12-12 15:31] notmart opened #15 "konsole doesn't use bash"
starting a new konsole the shell will have just a $ prompt and won't support arrow keys, starting bash by hand will give a better functioning terminal

[2017-12-12 15:31] sebasje opened #16 "GTK client-side decorations have transparent background"
Rendering of GTK client side decorations looks broken, it seems their background isn't painted, so it's the button outlines, such as the cross painted on whatever is underneath.

Can be tested by running gedit for example.

[2017-12-12 15:53] jriddell opened #17 "Boot Splash Says Netrunner"
The firmware boot splash says Netrunner, it should get a Neon theme

[2017-12-12 16:00] notmart opened #18 "Two wireless interfaces"
the two wireless interfaces are back in neon, it will need the same workaround as netrunner.
tough the two times authentication problem seems gone

[2017-12-12 16:01] #18 closed, assigned to nobody

[2017-12-12 16:05] #14 closed, assigned to nobody

[2017-12-12 16:24] sebasje opened #19 "Example media for demo purposes"
Add example media for demonstration purposes to the image.

Videos are quite big, and adding them to the image makes flashing take very long, but this could be okay for a demo image of course.

[2017-12-12 18:35] #2 closed, assigned to jriddell

[2017-12-12 18:35] jriddell opened #20 "package live-config"
package live-config for Neon, Debian's live session setup scripts.  Works in user space rather than initrd space which casper uses so easier to use.

[2017-12-12 20:56] #5 closed, assigned to jriddell, davidedmundson

[2017-12-12 20:56] #15 closed, assigned to nobody

[2017-12-12 20:57] #10 closed, assigned to jriddell

[2017-12-12 20:57] #9 closed, assigned to jriddell

[2017-12-13 08:53] sebasje opened #21 "Look and Feel KCM (and others) broken"
A package is missing, after installing

qml-module-org-kde-kcm it works.

[2017-12-13 08:54] sebasje opened #22 "KWallet needs setup"
This wasn't necessary for netrunner-pinebook. I'm not sure what we do about kwallet usually, but the dialog to offer blowfish and gpg encryption isn't really sexy for demo purposes.

[2017-12-13 13:26] notmart opened #23 "package and preinstall united and cupertine lookand feel packages"
location is:
https://github.com/ds9-artwork/lnf-theme-cupertine
https://github.com/ds9-artwork/lnf-theme-united

latte-dock is needed as well for that

[2017-12-13 16:32] notmart opened #24 "disable baloo"
file indexing is enabled by default, which we probably don't want here due storage i/o

[2017-12-13 17:50] #23 closed, assigned to nobody

[2017-12-14 14:10] #24 closed, assigned to nobody

[2017-12-15 13:46] #21 closed, assigned to jriddell

[2017-12-15 19:15] star-buck opened #25 "when becoming idle after a few minutes, cannot wake up from black screen"

[2017-12-15 19:36] star-buck opened #26 ""Neon - Pinebook Remix": Apps & Configuration Suggestions"
- add LibreOffice
- remove Qt5 Assistant, Qt5 Designer, Qt5 Linguist
- remove UXTerm, Xterm

- improve konsole font (is a little "tiny/ fizzy/ not smooth")

[2017-12-15 19:46] star-buck opened #27 "Discover, System Settings: mouse scrollwheel is very slow (compared to other places, like e.g. dolphin, which is too fast)"

[2017-12-15 19:48] star-buck opened #28 "Dolphin: add "Up" key in toolbar, also possibly others like "Add new Folder" or "Delete""

[2017-12-15 19:50] star-buck opened #29 "Discover: Installing "LibreOffice" (not one of the sub-modules) installs but a single icon in menu"

[2017-12-15 19:53] star-buck opened #30 "Discover: shows "Update (42)", but list has all packages shown with "0 B" size"

[2017-12-18 19:09] #3 closed, assigned to jriddell

[2017-12-19 09:23] jriddell opened #31 "Build Tracker (list of img+1)"
I'll use this issue report to list new builds

[2017-12-19 09:29] jriddell opened #32 "Keep some older images"
Only 1 disk image kept currently, this seems risky, keep the last two or three

[2017-12-19 09:30] jriddell opened #33 "Fix current links"
The symlinks with the static "current" name still have the date in them from the download server

[2017-12-19 09:32] jriddell opened #34 "Version QA check for linux, mali, armsoc"
These packages come from the Netrunner archive, because Netrunner might change them outwith the wishes of Neon Pinebook Remix we should check they are the right version during disk image build

[2017-12-19 11:05] #17 closed, assigned to nobody

[2017-12-19 16:27] #12 closed, assigned to jriddell, davidedmundson

[2017-12-20 10:53] #22 closed, assigned to davidedmundson

[2017-12-20 16:11] #30 closed, assigned to aleixpol

[2017-12-21 14:01] #25 closed, assigned to nobody

[2017-12-21 17:36] notmart opened #35 "install smplayer + smtube (for easily testing all gfx/drivers issues on pinebook remix img)"
smplayer (or anything based upon mplayer) seems to play smoothly videos at least until 720p

vlc has a semi-translucent bug similar to libreoffice and videos are extremely slow

[2017-12-23 00:06] #26 closed, assigned to jriddell, star-buck

[2017-12-23 00:06] star-buck opened #36 "LibreOffice: widget and toolbar texts are white on grey"

[2017-12-23 00:07] star-buck opened #37 "Cala: icon is there, but doesnt start correctly"
Cala link now appears on the desktop, but Cala doesn't seem to start. Console output says
Module "deferred_remove" not found in module search paths

[2017-12-23 00:09] #32 closed, assigned to jriddell

[2017-12-23 00:10] #19 closed, assigned to nobody

[2017-12-23 00:11] #8 closed, assigned to jriddell

[2017-12-23 01:55] star-buck opened #38 "Discover: Installing "smplayer" shows message to remove something, but fails to show anything but html-brackets in actual popup list"

[2017-12-23 02:11] star-buck opened #39 "GFX: Megathread discussing various issues under various drivers/options"
Lets keep track of current drivers and mode settings of each img here and comment.

[2017-12-23 02:18] star-buck opened #40 "Kamoso: clicking on bottom left menu button sometimes freezes or crashes kamoso"

[2017-12-23 02:22] star-buck opened #41 "about kcm: displays "Netrunner Developer Edition", should read "Neon Pinebook Remix""

[2017-12-23 02:32] star-buck opened #42 "folderview: reduce horizontal space between icons"
compared to 5.11.4 the icon grid in neon dev unstable looks like it has expanded horizontal space.

Imo the 5.11.4 space looks great, maybe it simply hasn't been set in git unstable 5.12 aka regressed?

Otherwise also drag and dropping worked fine placing it underneath another icon, which on neon-unstable pinebook has regressed too.

Tldr; suggesting to restore the grid size / spacing and dnd of 5

[2017-12-23 02:40] star-buck opened #43 "folderview: dragging and dropping an icon makes the first icon on the grid (in this case cala) hover-selected"
add some icons on the desktop, drag them and drop, Cala shows hover-selection marker for a short time until mouse moves again over the just dropped icon

[2017-12-23 21:21] #37 closed, assigned to nobody

[2017-12-23 21:23] star-buck opened #44 "Cala: does it already "resize" during install?"

[2017-12-23 21:39] star-buck opened #45 "Everyone: Please cleanup Plasma 5.11 list to indicate what will be done in 5.12"
Let's please all go through the ongoing list and mark things ready or comment on them, as most stuff affects also the quality of the neon pinebook remix:
https://github.com/blue-systems/plasma-5.11/issues

[2017-12-23 21:47] star-buck opened #46 "systray: opening the "more" arrow does only load the frame, not the content of the window"
all single sytray applets seem to load fine on first click.

[2017-12-23 23:28] #35 closed, assigned to jriddell

[2017-12-25 23:07] #43 closed, assigned to eikehein

[2017-12-25 23:13] #42 closed, assigned to eikehein

[2018-01-09 23:25] #39 closed, assigned to davidedmundson

[2018-01-09 23:26] star-buck opened #47 "GFX: border shadow remains when opening and closing systray (or kickoff menu) 2xtimes"
also happens with main menu, and outside of pinebook context

[2018-01-09 23:27] #46 closed, assigned to davidedmundson

[2018-01-09 23:41] star-buck opened #48 "Energy saving mode: Doesnt recover from black screen"

[2018-01-09 23:43] #48 closed, assigned to davidedmundson

[2018-01-10 00:04] star-buck opened #49 "smplayer: Settings: Switch from MiniGUI to BasicGUI"

[2018-01-10 00:15] #33 closed, assigned to jriddell

[2018-01-10 00:18] #38 closed, assigned to aleixpol

[2018-01-10 00:19] #36 closed, assigned to nobody

[2018-01-10 00:21] #44 closed, assigned to jriddell

[2018-01-13 01:53] #49 closed, assigned to jriddell

[2018-01-13 02:01] #16 closed, assigned to jriddell

[2018-01-13 02:05] #27 closed, assigned to notmart

[2018-01-13 02:10] star-buck opened #50 "GFX: allow Video up to 720dpi (mpv/smplayer in fullscreen+window-mode, youtube playback)"

[2018-01-13 16:06] ghost opened #51 "Build up toolchain for embedded development"
For an agile and efficient development process an embedded Linux developer needs a functional toolchain, such that:
1. the coding and compiling can be done on the developer's x86 main development machine (MDM),
2. altered kernel images and userland libs can quickly be deployed to the embedded device,
3. early boot process can be analyzed via terminal from MDM.

**ad 1.**: this problem is solved fo

[2018-01-24 15:27] #6 closed, assigned to jriddell, bhush9

[2018-01-24 15:27] #45 closed, assigned to nobody

[2018-01-24 15:54] sebasje opened #52 "[cala] fs_resize error during installl / setup"
When installing, I'm getting the error that the fs_resize command didn't finish in 30 seconds. When I run the same command from a root-owned console (without having done anything yet, freshly flashed sd card), it takes about 10 seconds. I'm at a loss as to what's wrong here and what can be done...

[2018-01-25 13:52] star-buck commented on #50
- Why does Qml have such a bad performance, if not GPU powered for simple stuff like loading
system settings?
- Is it related to the listview default?

[2018-01-28 08:15] star-buck commented on #50
Sounds truly awesome if working as described.

[2018-01-29 16:02] star-buck opened #53 "[config]: Desktop session: start with empty session"

[2018-01-30 14:51] #11 closed, assigned to jriddell, llelectronics

[2018-01-30 20:32] star-buck opened #54 "Battery: TICK "show percentage" default"

[2018-01-30 20:33] star-buck opened #55 "Wifi symbol: if not connected, looks like missing icon/empty spot in systray with breeze (improve visibility)"

[2018-01-30 20:39] #41 closed, assigned to jriddell

[2018-01-31 08:51] #53 closed, assigned to bhush9

[2018-01-31 08:54] #52 closed, assigned to adriaandegroot

[2018-01-31 15:37] star-buck opened #56 "Suspend: When screen goes black, it doesnt come back (disable "Suspend Session")"

[2018-02-02 07:28] star-buck commented on #50
Needs fixing in kwin?

[2018-02-02 13:08] star-buck commented on #50
Would that temp fix have any visible drawbacks?
Does it work with smplayer then?

[2018-02-07 10:40] star-buck opened #57 "Settings: Disable "Hot Corner" trigger, as it can cause multiple seconds slowdown like when watching a video or such"

[2018-02-07 11:21] star-buck commented on #50
@davidedmundson : any update on this, regarding smplayer and window-mode?

[2018-02-07 11:29] subdiff commented on #57
The reason why it's slow is because we force compositing to Xrender and not use Gl compositing. The reason for this again was that we had graphical glitches somewhere in the graphics stack when doing Gl accelerated compositing.

As long as we force Xrender it makes therefore sense to deactivate the hot corner as default.

But the correct fix in the long run must be to use a clean Gl accelerated gr

[2018-02-07 12:27] star-buck commented on #57
I agree with long term.
Using hotcorners default, especially this one, is generally debatable though, in terms of people wishing for more commonly defaults.

[2018-02-07 12:32] jriddell commented on #20
Debian's live-config works with user space scripts in /lib/live/config/
To use Ubuntu's casper I'd need to rebuild the initrd which is just something easier to avoid if its not needed since I don't know how that initrd was made in the first place.
Closing as long since done

[2018-02-07 12:36] star-buck commented on #20
and closed

[2018-02-07 12:36] #20 closed

[2018-02-07 12:39] #7 closed

[2018-02-07 13:39] star-buck commented on #55
double ticket, closing here, original: https://github.com/blue-systems/plasma-5.13/issues/100

[2018-02-07 13:39] #55 closed

[2018-02-07 14:13] davidedmundson commented on #50
So there are multiple things in progress. It's also very scattered and messy, but I don't think there's any other way of working as I don't know what will work till after.

On FBTurbo:
  - I tried getting that on our Neon installations. I can get images, but the modeline is all wrong, so it's all diagonal. It seems this comes from uEnv setting low level parameters, but I can't immediately find the

[2018-02-07 16:59] davidedmundson commented on #50
It would be the last one on my list :/.
I fixed my overlay rendering code branch.

It now renders the 1080p star wars trailer in a window / smplayer dropping between 10 and 100 frames, which I'm not sure I'd notice if I didn't have a log open.

This approach means we actually don't need to rebuild mpv. But given we already have..don't know.

Note this version of fixing things has the same issues t

[2018-02-07 18:05] star-buck commented on #50
1080 is not important.
Dropping 10 to 100 frames is also not an improvement?

Lets focus on 720dpi for smplayer in fullscreen+window mode.

[2018-02-08 19:19] shadeslayer opened #58 "Tips from the Pinebook community to improve overall experience"
I was pointed to this https://forum.pine64.org/showthread.php?tid=4982 recently as something we should investigate and ship on the Pinebook.

I can't really advocate shipping random python and bash scripts, but perhaps they can be cleaned up and improved and made into proper configs for KDE that can be shipped.

[2018-02-08 19:31] shadeslayer commented on #13
Bluetooth will only work when that job is run once at boot and only once. Restarting that job will deactivate bluetooth and a hard reset will be needed.

Is there something else blocking this ticket to be closed?

[2018-02-09 13:32] subdiff commented on #47
Thanks to @davidedmundson's hint I discovered a fix by not doing Pixmap exchanges in the xf86-video-armsoc driver and instead just blit the update. This can be done by disabling the branch starting from here: https://github.com/shadeslayer/xf86-video-armsoc/blob/master/src/armsoc_dri2.c#L930

I did further tests, to pinpoint the issue more exactly, but these gave no results. In general the deeper

[2018-02-09 15:14] davidedmundson commented on #50
To clarify I'm saying it's on par with Mate at decoding a 1080p video, it can naturally then do 720 fine. This is in a window or smplayer.

So to summarise:

Before Fosdem we had hardware decoding + GPU rendering.

Now I  do effectively the same hardware overlay rendering that we see in the Mate image. But that comes with the same drawbacks when moving the video window.

---

Things have been fine

[2018-02-10 07:58] star-buck commented on #50
Alright, I tested with a fresh install from last img 20180130 + removing + re-adding + updating all packages and the result seems quite nice.

I suggest @bhush9 or @jriddell to do a new img so we can test this on a complete install and will also add a new ticket with some of the settings for smplayer to make for the best experience.
After new img confirmed working, lets mark this ticket ready and

[2018-02-10 08:13] star-buck opened #59 "switch from unstable master git to stable snapshot release channel for publicized img"

[2018-02-10 08:18] star-buck opened #60 "smplayer: additional settings (keep open)"
- Video: SET output driver to "vdpau"
- Video: TICK "double buffer"
- Video: UNTICK "start videos in fullscreen"
- Performance: set Hardware decoding to "vdpau"

[2018-02-10 08:53] star-buck commented on #50
one thing that is now visibly noticeable is there are "fine line frizzles" during all faster transitions, which look annoying.
Those are not there on playing the same video on netrunner pinebook or if video is played back on x86, so those come from whatever the update did to decode the video.

[2018-02-10 08:57] star-buck commented on #50
I will download again the last netrunner img from here:
http://ds9-eu.s3-website.eu-central-1.amazonaws.com/#!/dci%2Fimages%2F1801%2Farm64%2Fnetrunner-pinebook%2F

install fresh and apply the tricks and compare both video playback on smplayer.
Maybe we can gain some knowledge we can make the video playback on neon perfect without the two drawbacks, that is no overlay and that annyoing frizzle FX,

[2018-02-10 10:54] bhush9 commented on #50
re: while you were testing this, a new image was work in progress, http://weegie.edinburghlinux.co.uk/~neon/images/pinebook-remix/20180209-1549/

Please test.

[2018-02-10 10:54] bhush9 commented on #56
should be fixed in http://weegie.edinburghlinux.co.uk/~neon/images/pinebook-remix/20180209-1549/

[2018-02-10 10:55] bhush9 commented on #57
The fix was packaged, but I am not sure if it made in http://weegie.edinburghlinux.co.uk/~neon/images/pinebook-remix/20180209-1549/ or not.. most likely it was included, if not please revert Ready for QA back

[2018-02-10 10:56] bhush9 commented on #54
Fix is included in http://weegie.edinburghlinux.co.uk/~neon/images/pinebook-remix/20180209-1549/

[2018-02-10 10:58] bhush9 commented on #31
http://weegie.edinburghlinux.co.uk/~neon/images/pinebook-remix/20180209-1549/

- Show battery percentage by default
- Disable hot corners
- Disable suspend session
- Fixes regarding video playback from @davidedmundson

[2018-02-10 11:29] star-buck commented on #31
Awesome, dloading now.

[2018-02-10 12:13] star-buck commented on #57
done

[2018-02-10 12:13] #57 closed, assigned to bhush9

[2018-02-10 12:14] star-buck commented on #54
done

[2018-02-10 12:14] #54 closed

[2018-02-10 12:16] star-buck commented on #60
i added the missing setting here, as smplayer was not correctly configured in latest img of today (it was still set to opengl, for example). Please see first comment of this ticket for all configs recommended for smplayer for this img and gfx method. I will then suggest in the gfx thread with possibly some videos if to get the best of the two approaches in one img.

[2018-02-10 12:25] star-buck commented on #56
seems fixed, closing this for now.

[2018-02-10 12:25] #56 closed

[2018-02-10 12:33] star-buck commented on #50
other than the missing smplayer settings (see other ticket), this works after manually applying them.

Now the things that could be improved are:
- video output shows visible frizzles (aka thin horizontal lines) for all faster moving "sharp borders"
- video cannot be overlayed with menu popus, etc.
- a simple song mp3 doesnt show standstill video img (will show what i mean in the video comparison)

[2018-02-10 12:38] star-buck opened #61 "Wifi: we need to ship improved icon, as current is almost non-visible"
![screenshot_20180210_120911](https://user-images.githubusercontent.com/840070/36062207-8b43f00e-0e67-11e8-8a62-6c9467e46e4a.png)

[2018-02-10 12:47] bhush9 commented on #61
https://phabricator.kde.org/D10243

Revision is pending review.

[2018-02-10 12:53] star-buck commented on #50
@davidedmundson : Does youtube need a special configuration? Or each browser, like firefox, chromium, etc.?
I recall youtube being smooth up to 720dpi in browser or fullscreen at one point...

[2018-02-12 10:36] star-buck opened #62 "GFX Video: "hardware decoding + GPU rendering" (FOSDEM)"
info:
Plasma: GL ES
Kwin Compositing: Xrender, as Kwin GL ES is faulty redrawing stuff (bad lines, etc.)
Compositor: drawing stuff on top/transparency,blur
Xrender: simulated method of drawing stuff on top using X

issues:
- smplayer wasnt working, only mpv
- window mode did stutter

plus side:
+ youtube worked reasonable well
+ windows overlaying was possible
+ smooth fullscreen 1080dpi

[2018-02-12 10:37] star-buck opened #63 "GFX Video: "hardware decoding + overlay" (MATE)"
Issues:
- video output shows visible frizzles (aka thin horizontal lines) for all faster moving "sharp borders"
- video cannot be overlayed with menu popus, etc.
- a simple song mp3 doesnt show standstill video img (will show what i mean in the video comparison)
- firefox: youtube does not play videos smoothly, 480dpi already stutters, 720dpi unwatchable

[2018-02-12 10:40] star-buck commented on #50
continuing in two seperate tickets not to confuse those two approaches and related drawbacks.

[2018-02-12 10:40] #50 closed

[2018-02-12 10:40] star-buck commented on #63
Issues:
- video output shows visible frizzles (aka thin horizontal lines) for all faster moving "sharp borders"
- video cannot be overlayed with menu popus, etc.
- a simple song mp3 doesnt show standstill video img (will show what i mean in the video comparison)
- firefox: youtube does not play videos smoothly, 720dpi almost unwatchable (i assume it is using opengl and not vdpau?)

[2018-02-12 10:51] davidedmundson commented on #63
Will look into it. If you have any sample videos that highlight it best that would help.

literally not possible to fix with overlays. It sucks. Same for Mate image too

Should be quite easily fixable. We can make the mpv config clever and say "use vdpau for these codecs, not others".

 It's at least using GL for rendering. It could still be using vdpau for decoding, I'll find out.

[2018-02-12 11:00] davidedmundson commented on #62
That's fixable, it was simply a matter of me having upgraded mpv with patches, and smplayer was then out of date; and I had to update that...and everything got out of sync.

I don't how to fix this. It's why I went back to my overlays to get the framerate up.

You saying netrunner worked better at least gives me something to try, I'll get some stats to prove whether it is or not, and if so look at

[2018-02-12 11:38] davidedmundson commented on #62
Every flip to the next frame, the code path through X instead of just updating the window, goes through this code path where it copies the entire buffer into another buffer from kwin which is ~4px wider containing the window borders.  Pretty wasteful.

Turn off both borders and shadows and you can make it fly as it doesn't need to copy anything, but that doesn't work when windowed and embbed in sm

[2018-02-12 12:18] star-buck commented on #62
What Xdriver is it used here? Any way to not make it throw an error?

[2018-02-12 14:16] davidedmundson commented on #62
xf86-video-armsoc (the DRM one)

I had tried the removing the check, but then it gets into kernel code which will return an error or just crash the system.

[2018-02-12 14:57] star-buck commented on #62
For this gpu approach, do we use the exact same stuff + method as in
netrunner?

[2018-02-12 16:27] davidedmundson commented on #62
As it's not on the same base it will be different stuff everywhere; different X, different mpv, different libs.
Same X driver, same mali blobs.

Method is subtly different:

Netrunner is doing gpu decoding and gpu rendering.

Neon (this fosdem version) does hw decoding and gpu rendering, which from my results always gave /considerably/ lower mpv CPU, just not where the bottleneck is.

With the sam

[2018-02-12 17:31] star-buck commented on #62
Netrunner 20171221:
There are occasional black blibs on Netrunner while playing back video, but the window can be at least 2/3 screen in window mode, so it is visibly better than FOSDEM windowed mode?

[2018-02-13 06:23] bhush9 commented on #47
Fixed in http://weegie.edinburghlinux.co.uk/~neon/images/pinebook-remix/20180212-1552/

[2018-02-13 06:23] bhush9 commented on #47
(sorry for labeling mess.. I restored previous state of ticket)

[2018-02-13 08:11] star-buck commented on #47
seems fixed!

[2018-02-13 08:11] #47 closed

[2018-02-13 11:07] davidedmundson commented on #62
Personally I didn't think there was a big issue watching the FOSDEM image at 2/3 screen. I guess it depends on the video.

Measuring it, there is a subtle performance difference:

For the same 720p video in a window filling the screen height (but not full screen)
Neon GPU rendering: 2180 framedrops
Netrunner GPU rendering: 1700 framedrops

So something about the stack made a difference. I got the

[2018-02-13 11:12] #34 closed

[2018-02-13 16:13] davidedmundson commented on #63
Frazzles fixed! I wasn't double buffering my output.
That video you sent me helped,  that intro is super smooth now

I'll get that packaged along with the "a simple song mp3 doesnt show standstill video img" fix.

[2018-02-13 21:09] star-buck commented on #63
Video looks good.

But did you notice the desktop looks kinda shaky?
Is it because of the shadow fix or the libvdpau-sunxi update (i applied the deb immediately without trying the img with frizzles first)?

I also noticed the Compositor is now set to "Instant apply", but if you set it to step 2, one can see the glitchiness.
Same goes for maximizing then grabbing the window from the border to drag

[2018-02-16 11:28] star-buck opened #64 "boot: before sddm shows up, terminal login prompt is visible for about 5 seconds (a bit confusing)"
maybe there is a chance to still show plymouth neon logo or remove the wait before sddm shows

[2018-02-16 18:02] davidedmundson commented on #62
From last image:
 - I've updated the config so hopefully that weird menu glitch won't happen on a clean setup.
(I can't test for absolute sure till I have a clean image, I'll let you know when I've done that)

 - We don't get the warnings about mpv crashing in smplayer

-----

As for speed:

As found out on #netrunnerlinux you and I were running different netrunners, so actually it seems we were t

[2018-02-21 09:05] sebasje commented on #61
The suggested improvement doesn't really address the issue, it makes a few other states more visible. The plan right now is to make the disconnected icon red.

[2018-02-21 09:11] sebasje opened #65 "Switch audio output to headphone only when it's plugged in"
When a headphone is plugged in, the user expects the audio output to go only there, so it should be switched from main speakers to headphones. The original thread talks about alsa, but I believe that this is actually a pulseaudio configuration thing.

from https://forum.pine64.org/showthread.php?tid=4982

[2018-02-21 09:14] sebasje opened #66 "Disable trackpad while typing / "palm rejection""
This is a config option in Plasma's touchpad KCM, but for synaptics there's also a driver config which enables palm detection. The task here is to:

* Check if the touchpad driver of the pinebook has such an option, if so, make sure it's enabled
* if not: evaluate whether we want to switch the Plasma option on by default (I personally never needed it and found it somewhat annoying, this may boil d

[2018-02-21 09:19] sebasje opened #67 "Firefox: Performance Tweaks"
A user suggests a couple of configuration changes to make Firefox run smoother. Video playback should already be improved, but there are a couple of other, potentially useful options to enable.

Go through them one by one and evaluate whether they're worth preconfiguring.

from: https://forum.pine64.org/showthread.php?tid=4535

[2018-02-21 09:22] sebasje commented on #58
I've gone through the suggestions one by one. Some are hardware hacks (add a switch to enable debugging over headphone jack, add a wooden plate to improve the touchpad), some are already squarely on our radar (various rendering and video playback improvements), but there are some configuration options and improvements hidden in there.  I've filed separate issues for these, making this more well-de

[2018-02-21 09:22] #58 closed, assigned to nobody

[2018-02-21 09:54] sebasje commented on #51
For embedded development, I often ended up writing a simple script to build packages (back in the day on OBS) and then rsync them to the device and install them via an ssh command locally. That worked pretty well and was mostly automated for hack/deploy/test cycles.

[2018-02-21 11:20] kbroulik commented on #66
Yup, it took me ages to find out on my laptop that it was this feature that had my touchpad "randomly" not work immediately.

[2018-03-01 15:06] star-buck opened #68 "KWIN GLES: (blue) lines"
- small (blue) lines, mostly when entering text fields

[2018-03-01 15:08] star-buck commented on #61
one week later, can a decision been made, its not that hard to mitigate this obvious bad state, even if refined later again...

[2018-03-01 15:10] star-buck commented on #40
still remains an issue when kwin uses gles, so we either find a fix or we remove kamoso knowing this will look like broken software for users...

[2018-03-01 16:01] sebasje commented on #61
We want to make the icon red instead of translucent, this needs a designer to change it. I've asked Andreas to make that change.

[2018-03-02 16:10] aleixpol commented on #40
I've been tinkering with it a bit more, this seems to fix the issue for me completely.
https://commits.kde.org/kamoso/6fd7caa6da736a7f465cee8ed01cb433e5257776

[2018-03-05 12:00] davidedmundson commented on #68
My somewhat technical notes from last week on "The blue lines"

 - I wrote some mods for kwin that dumped the images it was rendering in it's final eglSwapBuffers.
The blue lines appear in our buffer we have, not just on screen. So their damaged before that point.

 - I also wondered if it was a bug in EGL_IMAGE_PRESERVED_KHR so blitted the backbuffer just after a swap, but no lines were introduce

[2018-03-05 23:06] subdiff commented on #68
Regarding LO make sure that the package `libreoffice-kde` is installed. Then most icons have the correct color (some don't still).

Fonts are not white on my system.

The transparency issue is of course the most glaring one and I don't really have an idea yet about this.

[2018-03-06 08:42] star-buck commented on #68
after installing lo-kde:
![screenshot_20180306_083755](https://user-images.githubusercontent.com/840070/37022227-9b2ebb52-2122-11e8-9b20-566bd692d9ba.png)

[2018-03-06 10:24] notmart commented on #68
to me actually works decently with lo-gtk3, which uses breeze-gtk as widget style so is not that alien, tough another icon set. (splashscreen is still transparent, the actual application is all correct/usable)

[2018-03-06 11:55] star-buck commented on #68
Can you do a screenshot of how calc looks?

[2018-03-06 14:33] notmart commented on #68
that's how it looks with lo-gtk3 on my pinebook
![screenshot_20180306_153210](https://user-images.githubusercontent.com/4526371/37037859-8a61dad0-2153-11e8-8ea6-5b348f422a4b.png)

[2018-03-06 14:48] subdiff commented on #68
For me LibreOffice now works without any missing icons and without transparency after:
[code]

[2018-03-07 06:56] bhush9 commented on #68
I find it weird.. that libreoffice-kde got installed somehow..

https://github.com/blue-systems/pangea-tooling/blob/e54386a4d65d662106fed5a33c7d6b1dfcd8b442/nci/imager-img/customization/package-lists/neon.list.chroot#L13-L14

There is nothing installing the libreoffice-kde in the image. I will investigate more.

[2018-03-07 09:26] subdiff commented on #68
In my comment I just wanted to make sure that if somebody installed libreoffice-kde later on, it gets removed. From the base image one probably only had to remove the gtk and gnome ones. Sorry if this lead to confusion.

[2018-03-07 16:51] davidedmundson commented on #68
On the glitches:

I'm 90% sure I now know *where* the bug is.
It's not really kwin, it's that bloody X driver.

X clients render into an area of memory.
Kwin uses GL to create a texture from that same piece of memory without copying it.
There is no working locking in place. Two people read and write the same thing at once.

There's code trying to do this: ARMSOCPrepareAccess/ARMSOCFinishAccess hav

[2018-03-07 16:58] shadeslayer commented on #68
I vaguely recall that the libMali.so blob also needs to implement the umplock bits, but I'm not 100% sure.

[2018-03-07 17:01] davidedmundson commented on #68
Previously on the image we didn't even have the umplock kernel modules (/dev/umplock)

I've added that, and debug shows X now using it.

But  strace'ing kwin, I can't see any calls to it, nor can I find any reference when extracting strings from the blob.

[2018-03-07 17:03] shadeslayer commented on #68
@davidedmundson make sure /dev/ump is in the video group?

[2018-03-07 17:06] shadeslayer commented on #68
@davidedmundson from running strings on the libMali.so blob I see VARIANT=mali400-gles-linux-x11-dma_buf-no_Werror

Which is the dma_buf variant, so UMP won't actually work here.

[2018-03-08 01:50] davidedmundson commented on #68
This sucks.

There's code to make ump-based locking work in our X driver, but not our GL blob is trying to use newer dmabuf stuff

There's a nice API to do dmabuf-based locking which I think is what I need to add to our X driver .... but API is not in our kernel because that's too old...

I'm gonna try adding some kernel API to expose dma_buf_begin_cpu_access   and then add that to the X driver, b

[2018-03-08 07:40] star-buck commented on #68
The reason we have an old kernel is what?

[2018-03-08 07:42] llelectronics commented on #68
The typical ARM problem. Drivers (mostly blobs) only being compatible with one kernel version. No real and good working vanilla kernel images for the pinebook. Shadeslayer tested an vanilla kernel already.

[2018-03-08 07:43] star-buck commented on #68
And on netrunner pinebook debian we have what kernel?

[2018-03-08 07:44] llelectronics commented on #68
The typical ARM problem. Proprietary drivers only being compatible with one old kernel version.
No real upstream vanilla kernel support as chip creators don't contribute to the upstream kernel.
Shadeslayer tried already running the vanilla kernel ( a newer one) but that did not work so well and opens the box of pandora ones more.

[2018-03-08 07:47] llelectronics commented on #68
So we use the one that works best out of the box with the hardware. And this is the one with the binary blobs cusomized for the pinebook itself instead of the vanilla kernel.

[2018-03-08 07:50] star-buck commented on #68
Can we start putting real kernel version numbers in here, as it makes the
discussion so much more useful...

[2018-03-08 07:58] llelectronics commented on #68
The binary blob kernel we use currently is 3.10.105.

[2018-03-08 15:29] shadeslayer commented on #68
Huh? The mainline kernel actually works pretty well, and I'd actually recommend it over the BSP kernel. We ought to try and get the modesetting eglamor X11 driver working on there instead of fiddling with armsoc since that has now been deprecated.

[2018-03-08 15:32] llelectronics commented on #68
Oh so old news. Sorry. Had in mind that X was not running

[2018-03-08 15:33] davidedmundson commented on #68
But you weren't using the mali binary blobs on mainline right?

[2018-03-08 15:33] shadeslayer commented on #68
@llelectronics  Oh it definitely does work. I also got weston working

@davidedmundson I was using the mali binary blobs

[2018-03-13 12:51] davidedmundson commented on #68
My last week:

Plan 1: Add umplock support to our kernel and X driver, hope GL driver uses it despite not using UMP.
Didn't work, clearly our blob doesn't use those locks.

Plan 2: Add kernel API to call the dmabuf_start_cpu_access (like new kernels have)
Didn't work, it just calls the relevant lock code in the DRM driver..and that code doesn't exist

Plan 3: If the GL driver doesn't lock, maybe w

[2018-03-14 16:04] bhush9 commented on #68
Issue of libreoffice _should_ be fixed in the new image http://weegie.edinburghlinux.co.uk/~neon/images/pinebook-remix/20180314-1525/

[2018-03-15 10:49] adriaandegroot commented on #61
I posted some photo's to the telegram channel -- with the pinebook on my lap, and wifi disconnected (like it would be at first boot), the wifi icon is leftmost in the systray, so it's almost invisible from the viewing angle of a laptop user. The greys are totally washed out, as is the yellow ? (gosh, I never looked at it that closely before) and the little black tick-mark? It could be a speck of d

[2018-03-15 10:53] adriaandegroot opened #69 "Konsole redraw glitch"
(This might be covered entirely by #68)

On starting konsole, sometimes there are short white stripes in the window. They go away after almost any repaint event. While typing, the glitches sometimes reappear.

![konsole](https://user-images.githubusercontent.com/19431457/37459138-8f22fccc-281d-11e8-8c00-474dac497f38.png)

[2018-03-15 10:53] llelectronics commented on #61
Did that "change the icon to red" ever land somewhere? It isn't hard to change the icon to red which would make it visible. Though if VDG is involved it might end up in discussions and such :P

[2018-03-15 10:54] adriaandegroot commented on #69
(it's the white horizontal line, about vertically centered and just to the right of center, in the konsole window)

[2018-03-15 11:02] adriaandegroot opened #70 "Krunner redraw glitch"
With no other windows open, hit alt-space to open krunner. Type in a search string -- I used *calc* here, but *qua* will also do enough of a search. I had networking / wifi enabled. There are several sections of results returned by krunner. Hitting ESC when the first section is shown, but before Discover results are in, leaves the krunner results drawn on-screen as a glitch.

![krunner](https://us

[2018-03-15 11:19] adriaandegroot opened #71 "LibreOffice: white menu fonts and splash glitch"
- libreoffice
-- [ ] menu fonts are white
-- [ ] washed-out splash screen

Starting LibreOffice produces a weird splash screen, which is washed-out. In this screenshot, red arrow (1) points at the LO splash / banner, which is washed-out and mostly transparent, in front of KInfoCenter (2).

![lo1](https://user-images.githubusercontent.com/19431457/37460198-e84a5266-2820-11e8-9644-4e2dac872937.png)

[2018-03-15 11:19] adriaandegroot commented on #71
![lo2](https://user-images.githubusercontent.com/19431457/37460304-38163396-2821-11e8-89ee-f89e57e0971a.png)

Here is a normal-looking (?) LO window on the pinebook.

[2018-03-15 12:18] star-buck commented on #69
This is likely the blue/white lines glitch that d_ed is working to solve.

[2018-03-15 12:24] davidedmundson commented on #69
Yep. Will close this as there's notes already on that kwin with GLES thread.

[2018-03-15 12:24] #69 closed, assigned to nobody

[2018-03-15 12:46] davidedmundson commented on #68
I got this setup running by turning off pageflips, but even before I edited any code it was suuuuper slow.  Surprisingly it doesn't glitch even though I haven't made my driver fix yet, but that might just be because it's being slow. :/

[2018-03-15 12:49] subdiff commented on #71
This is a similar problem as to how it was for the application windows of Writer and so on before we installed the suitable libreoffice-gtk3 package.

I assume the splash screen just does not already use this backend package to render. Not sure how we can force it to do this.

A workaround is to deactivate the splash altogether by launching LibreOffice with the `--nologo` flag or change the `Logo`

[2018-03-15 14:20] notmart commented on #61
if nothing moved yet, i may just do it, or take my vdg whip and make them in line (getting pretty good at yelling at them in a non confrontational way lately)

[2018-03-15 14:22] notmart commented on #70
so is a piece of window that stays on screen because an area wasn't redrawn?
is the qt patch about sending the proper damage area landed?

[2018-03-15 14:28] davidedmundson commented on #70
If you mean my one with net_wm_sync, yeah. But I don't think it'd be relevant here. If a window is unmapped the client shouldn't need to send anything else.

[2018-03-15 16:13] sebasje commented on #61
The make-it-red didn't land, while it seems a rather easy solution here. If notmart (probably our best bet at whipping or inkscaping himself) could take a look, that would be _awesome_.

[2018-03-15 16:24] llelectronics commented on #61
Ok something really strange this file has already a red color: /usr/share/icons/breeze-dark/status/22/network-wireless-disconnected.svg . At least on my system. Though it might be that plasma-nm is not using that icon but some other one.

[2018-03-15 19:37] notmart commented on #61
that's an idea i had:
![spectacle z25324](https://user-images.githubusercontent.com/4526371/37487050-a98fe034-2890-11e8-9f83-5cc751dc7a2b.png)
(rationale: most higs recommends against using only color to convey information as would break for color blind people)

[2018-03-15 19:40] notmart commented on #61
that's normal, it needs to be done in more than one place, in the plasma theme as well, i can either put the one of breeze tough would prefer a non color - only version

[2018-03-16 15:17] notmart commented on #61
new icons pushed in plasma-framework, to be tested in next image

[2018-03-19 11:47] bhush9 commented on #31
http://weegie.edinburghlinux.co.uk/~neon/images/pinebook-remix/20180319-1110/

- Fixes the wireless icons
- Fixes the libreoffice look (libreoffice-gtk3 packaged in)

[2018-03-19 11:48] bhush9 commented on #61
http://weegie.edinburghlinux.co.uk/~neon/images/pinebook-remix/20180319-1110/ fix is in.

[2018-03-19 23:40] davidedmundson commented on #68
First crash was ocurring because I wasn't loading glamor properly (despite the debug output)
Got past that, and into another crash.

That crash is ultimately this line.

  glamor_egl->display = glamor_egl_get_display(EGL_PLATFORM_GBM_MESA,
                                                 glamor_egl->gbm);

that obviously doesn't work, we're not using mesa and we don't have a GBM plugin. Doing that

[2018-03-20 00:09] shadeslayer commented on #68
@davidedmundson JFYI Rockchip made this change to their xserver fork for eglamor support https://github.com/rockchip-linux/xserver/commit/ca089f8ca785d285000cc23c8ff989dfc765c106

Though grepping through their libmali blobs indicates they have GBM support in their libmali. Perhaps we can poke the pinebook people to get us a X11 libmali build with GBM support?

[2018-03-20 09:36] subdiff commented on #68
FYI the Wayland mali blob Pine released some time ago announced GBM support by its file names:
http://wiki.pine64.org/index.php/Mali_Driver#Wayland_MALI_Driver

[2018-03-20 10:03] shadeslayer commented on #68
@subdiff that will not work for X11

[2018-03-20 11:23] subdiff commented on #68
Yes, just pointing out that they already provided us with GBM supporting drivers for a different windowing system. So there is a high likelihood that they can give us the same for X as well.

Best would be such a driver, that supports X **and** Wayland (because the current Wayland only blob is problematic in regards to SDDM and Xwayland).

As a note a discussion from mailing list about Mali with G

[2018-03-20 11:26] shadeslayer commented on #68
@subdiff Right, I already asked tllim if he could get us a X11 + GBM blob. Waiting on his reply. Till then I guess we should work with armsoc.

[2018-03-20 12:01] subdiff commented on #68
Did you ask for X11 + GBM or X11 + Wayland + GBM? Just to make sure we get a blob in the end that works for X and Wayland as well (the current Wayland blobs misses X support for a full system with SDDM and probably also Xwayland).

[2018-03-20 12:13] shadeslayer commented on #68
The former, I'm not entirely sure the latter is even possible since no one else seems to be releasing that, but I'll ask anyway.

[2018-03-21 10:28] star-buck commented on #40
@aleixpol @bhush9 : is the fix supposed to be in latest img?

[2018-03-21 10:37] bhush9 commented on #40
Yeah, this change is already in new image : https://build.neon.kde.org/job/xenial_unstable_kde-extras_kamoso/changes (it got in package of march 3)

[2018-03-21 10:39] star-buck commented on #40
then sadly its not fixed here, still pulling the handle freezes+crashes kamoso

[2018-03-21 15:42] star-buck commented on #40
to reproduce:
take a snapshot, then try open the left sidebar freezes

[2018-03-21 15:45] star-buck commented on #71
latest img: I am getting the white fonts when opening a menu again

[2018-03-21 15:55] star-buck commented on #71
update: after another restart, the fonts are normal again... looking into if I am able to reproduce this somehow.

[2018-03-26 17:31] aleixpol commented on #40
It looks to me like it's a different issue, I have to open and close the sidebar repeatedly. The method suggested by star-buck doesn't trigger a crash.

Here's a bit of the infinite recursion I'm hitting, any pointers will be welcome!
[code]

[2018-03-27 13:26] shadeslayer commented on #40
Backtrace indicates it's in the proprietary part of the stack :(

[2018-04-04 11:56] adriaandegroot opened #72 "boot: 0404-1031 goes to text login, not plasma desktop"
Latest image (0404-1031) went to text login after boot, not to plasma desktop. From text prompt, `sudo sddm` started the desktop as expected.

Previous image (0404-0549) went to plasma desktop once boot was fixed.

[2018-04-04 12:09] adriaandegroot opened #73 "graphics: 0404-1031 glitches"
- konsole text cursor quickly gets garbled / stripes through it, generally fixed by forcing a switch in focus to a different window

[2018-04-04 12:15] bhush9 commented on #73
I wonder if this is : https://github.com/blue-systems/neon-pinebook-remix/issues/68 ?

[2018-04-04 12:15] adriaandegroot opened #74 "calamares: 0404-1031 bad configuration"
You can't run the installer because the settings.conf refers to Calamares modules which are not installed.

Quick fix: `sudo vi /etc/calamares/settings.conf`
Remove the lines 31, 32 `- deferred_remove` and `- deferred_resize`

However, the "live" user isn't removed, and the SD card isn't resized (because those modules have been removed). Needs a real fix.

[2018-04-04 12:25] bhush9 commented on #74
When were this modules removed?  possibly this will also affect xenial image.

[2018-04-04 13:49] adriaandegroot commented on #74
The modules were not removed; but they weren't found any more by the default search mechanism. There is a `/usr/lib/calamares/modules/` on the image -- which looks like it comes from Calamares itself, and Calamares was built with a non-gnu-tripletted libdir (this might be a change in master, since I have been messing with where libraries go). So Calamares looks there. There is *also* a `/usr/lib/a

[2018-04-04 15:23] davidedmundson commented on #73
It is.
Goes away when we go back to using KWIN_COMPOSE=X.

[2018-04-04 15:23] #73 closed, assigned to nobody

[2018-04-04 15:30] davidedmundson commented on #72
I flashed, got the same behaviour.

Then rebooted and it went straight to plasma
Then again and again and it kept working.

[2018-04-04 15:57] bhush9 commented on #72
Can either of you figure out why this happens? :D I can't do much without pinebook here.

[2018-04-04 16:34] davidedmundson commented on #72
That seems like a valid excuse.

It's going to be hard to figure out given it means flashing from scratch each time, but I'll give it a go

[2018-04-04 18:04] star-buck commented on #72
@Bhushan: any chance to get a pinebook to your place? Ebay?
Are you coming to the sprint?

[2018-04-05 06:45] bhush9 commented on #72
Um, it's terribly hard to get pinebook from here, on ebay I had found an listing : http://www.ebay.in/geb/ImportHubViewItem?itemid=263140303914 but it was 5X cost and when I found it it was already sold out. I had also found a listing on .co.uk but it didn't ship to India and had similar price as one shown above..

I am coming to sprint yes.

[2018-04-05 13:28] notmart commented on #72
plasma crashing only during the initial javascript setup?

will download the image and try if just deleting appletsrc repeats the issue

[2018-04-05 13:29] bhush9 commented on #72
No, it doesn't even reach plasma.. somehow just SDDM bails out..

[2018-04-05 13:30] notmart commented on #72
is the home existing and complete at that point?

[2018-05-02 13:50] bhush9 commented on #72
What we know

- sddm doesn't start
- getty@tty1 starts
- sddm is supposed to start at tty1

- If we add nottyautologin to the command line it doesn't start the sddm, and also doesn't start autologin we get empty blank screen
- There is code in /live/live/config/00??-systemd to enable autologin on tty, removing that code have no effect
- Bunch of interesting info from #systemd

[code]

I am yet to

[2018-05-02 14:05] llelectronics commented on #72
For the sddm issue. Just because I just saw it here and it does not come up on the rock64 aswell without it: https://github.com/netrunner-zeronet/rock64-live-build-zeronet/blob/master/customization/hooks/live/02-add-sddm-to-video.hook.chroot

Make sure the live user is part of the video group.

[2018-05-02 14:56] bhush9 commented on #72
Some more case checking. I tested that there is no /etc/systemd/system/default.target symlink. I've tried adding manual systemctl set-default graphical.target in hook... let's see.

[2018-05-03 15:34] bhush9 commented on #72
So at end of day.. current investigation

- try to remove

[code]

 from sddm.service ... didn't work

- After that I again asked on #systemd channel about the problem with systemd debug log : https://ptpb.pw/AkeE

Some response:

[code]

After I spent some more time grawity noticed something else...

[code]

Later...

[code]

So I spent some time trying to disable plymouth dep from the sddm servi

[2018-05-03 16:05] bhush9 commented on #72
Okay so I tried something and it seems to be "working" , working in double quotes because plasma is super slow at startup for some reason... BUT..

Things now load instead of completely fail to load, and we have idea of what is wrong...

- Flash image
- Mount /dev/sdbX or /dev/mmcblkXp1 to the /mnt
- replace /mnt/live/live/config/0170-systemd with https://ptpb.pw/PbAm file
- Make sure permission a

[2018-05-03 16:24] bhush9 commented on #72
Edit : new link to 0170-systemd ; https://ptpb.pw/PbAm

[2018-05-03 17:07] bhush9 commented on #72
Try #3 to get rid of long delay : https://ptpb.pw/j2i_

[2018-05-03 17:41] davidedmundson commented on #72
Booted first time \o/

[2018-05-04 12:50] bhush9 commented on #72
https://files.kde.org/neon/images/pinebook-remix-nonfree/bionic/20180504-1120/

This image fixes it..

Appearantly we were shipping some file which was not needed and was conflicting with something else doing exactly same thing.. https://github.com/pangea-project/pangea-tooling/commit/a7735f01c3ae8951a1ed858bdabfeee5f9e1bd6d which had bugs.. my last attempt was to fix bug but realized this code is

[2018-05-04 12:53] bhush9 commented on #72
Keep in mind tha plasma startup is super slow for some reason and needs debugging, but it is seperate issue.

[2018-05-07 03:25] bhush9 commented on #74
Marking this as ready for QA, as https://files.kde.org/neon/images/pinebook-remix-nonfree/bionic/20180504-1120/ have this fixed.

[2018-05-07 03:27] bhush9 commented on #64
As a side effect of the fix for #72, we realized that we were shipping the live-config file which caused tty to show up briefly.. I've killed it and it should be fixed in https://files.kde.org/neon/images/pinebook-remix-nonfree/bionic/20180504-1120/ already.

[2018-05-07 03:32] bhush9 commented on #31
https://files.kde.org/neon/images/pinebook-remix-nonfree/bionic/20180504-1120/

- Bionic  based image
- Fix for sddm autostart

Errata:

- Sloooooooow on first startup.

[2018-05-07 08:39] #31 closed

[2018-05-07 08:39] star-buck opened #75 "Build Tracker (list of img+1)"
Bionic img here:
https://files.kde.org/neon/images/pinebook-remix-nonfree/bionic/20180504-1120/

    Bionic based image
    Fix for sddm autostart

Errata:

    Sloooooooow on first startup.

[2018-05-10 11:16] bhush9 opened #76 "Two wifi interfaces on pinebook"
On xenial there were two ways to solve this issue,

[code]

Or

[code]

Neither works in bionic, For record, I also tried `iface p2p0 inet manual` in 2nd attempt, but that fails as well. In case of first one `modeprobe -c` lists those options and also `/sys/module/{8723bs,8723cs}/parameters` lists those options properly but fails neverthless... so shrug.

[2018-05-10 11:17] bhush9 commented on #76
Adding @davidedmundson as he added modeprobe.d solution.

[2018-05-10 13:16] bhush9 opened #77 "mysterious delay of 2 minutes in live-config service"
When booting image `20180507-1433` there is mysterious delay of 2 minutes in live-config service which can extend upto 3+ mnutes in some cases.

[code]

live-config service takes aroud 3 minutes which is not normal at all.. in journalctl one can see it "skips" two minutes..

[code]

Which I had earlier thought to be addition of live user in bluetooth group and tried following which seemed to work

[2018-05-10 13:21] bhush9 commented on #77
CC: @shadeslayer @llelectronics

any idea about this live-config weirdness?

[2018-05-10 17:06] star-buck commented on #77
How does this compare to the xenial img?

Other than the long delayed live.config entry, is the rest about the same?

[2018-05-11 07:14] bhush9 commented on #77
I think there is extra delay in bionic image after cursor is visible... but I want to sort out live-config issue first and then compare with xenial image.

[2018-05-21 10:11] bhush9 commented on #77
Not solved yet, but adding my notes..

modify kernel command line: console=ttyS0,115200n8 no_console_suspend console=tty0 mac_addr= root=/dev/mmcblk0p1 rw rootwait boot=live components hostname=live-pc username=live cma=384M live-config.debug systemd.log_level=debug

modify the sytemd journald config to have storage=persistent.

Full journal at https://bshah.in/journalctl-delay

Reading journal;

[2018-05-23 06:34] bhush9 commented on #77
Adding information about how to get logs,

- Flash latest image
- Mount the sdcard
- Edit boot/uEnv.txt so that set_cmdline line in it reads as,

[code]

- Edit etc/systemd/journald.conf so that Storage for journal is set to persistent
- Boot sdcard and grab the journalctl output by running `sudo journalctl`

CC: @adriaandegroot

[2018-05-23 11:45] adriaandegroot commented on #77
- with SD#1, (16GB) no delays [sd1.txt.gz](https://github.com/blue-systems/neon-pinebook-remix/files/2030839/sd1.txt.gz)
 - with SD#2, (16GB) no delays [sd2.txt.gz](https://github.com/blue-systems/neon-pinebook-remix/files/2030841/sd2.txt.gz)
 - with SD#3, (8GB) damaged ext4 filesystem reported during boot
   - zeroed out SD card
   - dd'ed image
   - mounted SD card in Linux Slimbook
   - edited

[2018-05-25 13:50] davidedmundson commented on #77
Notes from me:

delay seems to be in particular in /var/lib/live/0030-user-setup

This user setup script is an absolute load of Debian. The script to set a password involves randomly dd'ing a drive :/

Now I can add timestamps all over this file and bisect down till we hit the exact spot with the block, and come up with a fix from there.

[2018-05-25 19:35] star-buck commented on #77
Supercool you spotted this, if turns out the culprit.

[2018-05-29 22:46] davidedmundson commented on #77
They delay happens when we call

"adduser live powerdev"

in this for loop

	for group in $RET; do
                        $log $chroot $ROOT adduser "$USER" $group >/dev/null 2>&1 || true
	done

Others are instant, this one that doesn't exist takes exactly 90s

My lazy workaround was to replace
-		for group in lpadmin sambashare  do
+ 		for group in lpadmin sambashare powerdev; do

a few lines ab

[2018-05-30 06:46] bhush9 commented on #77
I think this is false alarm, see my first comment where I had concrete
data suggesting adding user to netdev causes the delay, and before that
it was bluetooth user

That said I can give this try locally and see where it takes me.

[2018-05-30 11:47] davidedmundson commented on #77
In your first comment we have

a timestamp of when it finishes successfully adding netdev
a timestamp of when it finishes successfully adding scanner

If anything it proves it's not adding netdev, but whatever happens between netdev and scanner

Which assuming it's alphabetical could still match what I said

[2018-05-30 13:46] davidedmundson commented on #77
Your patch still has the user being added to the powerdev group

[2018-05-30 13:48] davidedmundson commented on #77
Continued investigation on exactly why we block

strace finally gave me something useful

connect(fd =4, "/run/dbus/system_bus_socket")
fstat(fd=4)
recvmsg(4)  returns EAGAIN
ppoll(fd=4) timesout after 90s

[2018-05-30 13:58] bhush9 commented on #77
FYI, my patch didn't actually made it to last image.. sorry

[2018-05-30 14:01] davidedmundson commented on #77
This DBus call comes from nss-systemd which is linked to by the adduser perl script.

From a glance of the code it seems when a group doesn't exist it tries checking dynamically to get the most up to date information.

[2018-05-30 22:02] davidedmundson commented on #77
So to summarise, I'm pretty sure I've found everything and it all makes sense.

There are two minor bugs that would be fine on their own but together cause an issue.

* Our install scripts try to add a user to a group that doesn't exist.
This is obviously wrong and can be fixed by not adding a user to powerdev

* When a group is not found, adduser queries systemd-nss to see if it's available dynam

[2018-05-31 06:20] star-buck commented on #77
And this fixes the 2 minute delay?

[2018-05-31 12:13] bhush9 commented on #77
Issue is locally fixed but needs to be packaged in image.. I will roll
image later with fix (later today evening or tomorrow).

--
Bhushan Shah
http://blog.bshah.in
IRC Nick : bshah on Freenode
GPG key fingerprint : 0AAC 775B B643 7A8D 9AF7 A3AC FE07 8411 7FBC E11D

[2018-05-31 14:12] bhush9 commented on #77
https://files.kde.org/neon/images/pinebook-remix-nonfree/bionic/20180531-1230/ should be fixed in this image.

(Current fix is to not add user in powerdev group, will remove systemd-nss package in next image tomorrow).

[2018-05-31 14:13] bhush9 commented on #75
https://files.kde.org/neon/images/pinebook-remix-nonfree/bionic/20180531-1230/

- Fixes the first startup delay.

[2018-06-01 08:42] #77 closed, assigned to bhush9

[2018-06-01 08:43] star-buck commented on #76
still needs fixing. would be nice to have this solved.

[2018-06-01 08:43] #74 closed, assigned to adriaandegroot

[2018-06-01 08:44] #72 closed, assigned to nobody

[2018-06-01 08:46] star-buck opened #78 "Firefox: preload"
It seems no longer preloaded

[2018-06-01 08:50] star-buck opened #79 "after installation & reboot, folderview doesnt come up"
it results in a black area space instead of folderview loading.
The panel and menus/systray load fine.

[2018-06-01 09:00] star-buck opened #80 "kamoso: doesnt start"

[2018-06-01 09:10] star-buck opened #81 "discover: doesnt start"

[2018-06-01 09:16] bhush9 commented on #81
regression in kirigami, https://phabricator.kde.org/R858:b176593771c2049efb3b14dbf57f8ec706181312 already fixed, needs to be packaged.

[2018-06-01 09:18] bhush9 commented on #80
(Same issue as #81) Needs packaging.

[2018-06-01 09:34] bhush9 commented on #78
Needs ksystraycmd packaged for bionic. WIP

[2018-06-01 10:49] bhush9 commented on #81
Edit: the fix mentioned in commit doesn't actually work : CC: @aleixpol @notmart

[2018-06-01 15:09] bhush9 commented on #75
https://files.kde.org/neon/images/pinebook-remix-nonfree/bionic/20180601-1242/

- Fix for 2 wifi interface
- Fixes firefox preload
- Fixes the discover/kamoso/system settings

I personally can't reproduce #79 with this image. But it's worth testing.

Errata:

- Image doesn't include video playback stuff (smplayer/mpv), will be fixed next image.

[2018-06-01 15:10] bhush9 commented on #81
Fixed in https://files.kde.org/neon/images/pinebook-remix-nonfree/bionic/20180601-1242/

[2018-06-01 15:10] bhush9 commented on #78
Fixed in https://files.kde.org/neon/images/pinebook-remix-nonfree/bionic/20180601-1242/

[2018-06-01 15:10] bhush9 commented on #80
Fixed in https://files.kde.org/neon/images/pinebook-remix-nonfree/bionic/20180601-1242/

[2018-06-01 15:13] bhush9 commented on #76
Fixed in https://files.kde.org/neon/images/pinebook-remix-nonfree/bionic/20180601-1242/ .

[2018-06-01 15:37] bhush9 opened #82 "Video playback improvements needs packaging"
Currently,

- mpv
- smplayer
- libcedrus
- libvdvpu-sunxi

Are not installed on bionic and are not built for bionic in archive.. They needs to be enabled/built and needs to be included in image.

[2018-06-01 15:39] bhush9 commented on #64
Just as reminder, this bug is not present in latest image : https://files.kde.org/neon/images/pinebook-remix-nonfree/bionic/20180601-1242/

[2018-06-01 15:42] bhush9 commented on #71
Just as note: I can't reproduce the white fonts in newer bionic images. Can someone confirm?

[2018-06-01 16:05] star-buck commented on #29
closing here, as its a general issue.

[2018-06-01 16:05] #29 closed

[2018-06-01 16:07] star-buck commented on #79
comes up second time, but wallpaper dialog fails:
![screenshot_20180601_180034](https://user-images.githubusercontent.com/840070/40851088-942f3140-65c6-11e8-818b-183141dfd9cb.png)

[2018-06-01 16:10] bhush9 commented on #79
Wallpaper dilaog should be fixed in latest image (it's same kirigiami issue affecting discover etc)

[2018-06-01 16:15] #79 closed, assigned to bhush9

[2018-06-01 16:16] #78 closed, assigned to bhush9

[2018-06-01 16:16] star-buck commented on #76
still comes up, not first time you click but when connecting after submitting password, the second one appears again

[2018-06-01 16:28] bhush9 commented on #76
Filed issue to plasma-nm : https://bugs.kde.org/show_bug.cgi?id=394923

[2018-06-02 07:57] #64 closed, assigned to nobody

[2018-06-02 07:59] star-buck commented on #61
its not that nice solution (the red strike when not connected), but it got more visible, yes.

[2018-06-02 07:59] #61 closed, assigned to jriddell, bhush9, kbroulik

[2018-06-02 08:02] star-buck commented on #71
works here

[2018-06-02 08:02] #71 closed, assigned to nobody

[2018-06-02 08:04] star-buck commented on #28
@bhush9 : this got "Reset" (like in Netrunner lately), would be nice to have restored again.

[2018-06-02 08:12] star-buck opened #83 "Sleep Mode (FN+ESC key) doesnt work"
Reported for Netrunner and KDE Neon (confirmed not working on latest bionic) here:
https://forum.pine64.org/showthread.php?tid=5984&pid=37895#pid37895

[2018-06-03 12:35] star-buck opened #84 "'sudo apt update' fails with errors"

[2018-06-04 04:15] bhush9 commented on #84
Any specific errors? I can't seem to reproduce this.

[2018-06-20 07:27] bhush9 commented on #75
https://files.kde.org/neon/images/pinebook-remix-nonfree/bionic/20180620-0516

- Video playback packages included ( #82 )
- Dolphin toolbar functionality restored ( #28 )

In addition I am unable to reproduce following bugs but since I haven't done anything special about them, I am not sure if they are fixed, testing welcome.

- 'sudo apt update' fails with errors ( #84 )
- Sleep Mode (FN+ESC key)

[2018-06-20 07:28] bhush9 commented on #82
Fixed with : https://files.kde.org/neon/images/pinebook-remix-nonfree/bionic/20180620-0516/

[2018-06-20 07:29] bhush9 commented on #84
Marking this as ready for QA as I am unable to reproduce this error on last two images: https://files.kde.org/neon/images/pinebook-remix-nonfree/bionic/20180620-0516/ is the latest I have tested.

[2018-06-20 07:29] bhush9 commented on #81
Can't reproduce this in : https://files.kde.org/neon/images/pinebook-remix-nonfree/bionic/20180620-0516/

[2018-06-20 07:29] bhush9 commented on #80
Can't reproduce in : https://files.kde.org/neon/images/pinebook-remix-nonfree/bionic/20180620-0516/

[2018-06-20 07:30] bhush9 commented on #28
Fixed in : https://files.kde.org/neon/images/pinebook-remix-nonfree/bionic/20180620-0516/

[2018-06-27 07:29] bhush9 opened #85 "Sound is super low when playing videos"
I observed this when playing e.g Sintel trailer on smplayer. There is sound but it is super low I am not sure if is actually hardware which is not capable or something wrong with sound in general.

[2018-06-27 10:10] star-buck opened #86 "prepare RC img based on user stable, announce on pine forums to get testing feedback"

[2018-06-27 10:13] #59 closed, assigned to jriddell, hsitter, bhush9

[2018-07-16 16:05] star-buck opened #87 ""proper" shutdown (prevent battery drain)"
as soon as bionic is on stable, test for this:
https://forum.pine64.org/showthread.php?tid=5801

[2018-07-30 13:36] bhush9 commented on #86
We now have a image based on user-edition : http://files.kde.mirror.pangea.pub/neon/images/pinebook-remix-nonfree/neon-pinebook-remix-useredition-20180730-1137-arm64.img.gz

(It is not hosted on kde.org server due to publishing script breaking, will be fixed in next image)

[2018-07-30 13:36] bhush9 commented on #84
This should be fixed in user edition based image: http://files.kde.mirror.pangea.pub/neon/images/pinebook-remix-nonfree/neon-pinebook-remix-useredition-20180730-1137-arm64.img.gz

[2018-07-30 13:37] bhush9 commented on #82
user edition based image includes it : http://files.kde.mirror.pangea.pub/neon/images/pinebook-remix-nonfree/neon-pinebook-remix-useredition-20180730-1137-arm64.img.gz

[2018-07-30 13:37] bhush9 commented on #81
It starts in the http://files.kde.mirror.pangea.pub/neon/images/pinebook-remix-nonfree/neon-pinebook-remix-useredition-20180730-1137-arm64.img.gz

[2018-07-30 13:37] bhush9 commented on #80
It starts properly in : http://files.kde.mirror.pangea.pub/neon/images/pinebook-remix-nonfree/neon-pinebook-remix-useredition-20180730-1137-arm64.img.gz

[2018-07-30 13:38] bhush9 commented on #75
New image with user edition packages

http://files.kde.mirror.pangea.pub/neon/images/pinebook-remix-nonfree/neon-pinebook-remix-useredition-20180730-1137-arm64.img.gz

[2018-07-30 17:29] star-buck commented on #75
img is missing?

[2018-07-31 07:04] bhush9 commented on #75
Ugh, right.. I had uploaded file there which got deleted by automatic mirror sync... I'll fix publishing properly and re-do new image, and give link here

[2018-08-06 09:56] star-buck commented on #76
user edition still there:
![screenshot_20180128_171520](https://user-images.githubusercontent.com/840070/43710350-ab8e382c-996f-11e8-9ce6-32f9000626a6.png)

[2018-08-06 09:56] #28 closed

[2018-08-06 10:00] star-buck opened #88 "calamares: installation fails in the end"
![screenshot_20180128_171124](https://user-images.githubusercontent.com/840070/43710564-49a64108-9970-11e8-8df7-da3c225b0640.png)

[2018-08-06 10:02] star-buck opened #89 "datetime: ff: seems some https issue due to too long ago date"
![screenshot_20180128_171623](https://user-images.githubusercontent.com/840070/43710672-8d929a42-9970-11e8-9fb8-20bacdc41ed0.png)

[2018-08-06 10:05] star-buck opened #90 "got a constant high load average during live usage"
im trying another sdcard to rule bad performance out, this is what i get so far with the first:
![screenshot_20180128_171935](https://user-images.githubusercontent.com/840070/43710794-ef69c79a-9970-11e8-9863-d1791eb0e6e6.png)

[2018-08-06 10:07] bhush9 commented on #88
See : #52

[2018-08-06 10:41] star-buck opened #91 "cala: doesnt remove itself fully (or maybe the icon left is intentional)"
after install+reboot (not sure what RELE.. really means, maybe its in purpose?):
![screenshot_20180128_170216](https://user-images.githubusercontent.com/840070/43712302-f134a266-9975-11e8-8335-89d6657b3662.png)

[2018-08-06 10:42] star-buck opened #92 "kcm: missing touchpad module?"
![screenshot_20180128_170913](https://user-images.githubusercontent.com/840070/43712353-2af57d04-9976-11e8-8c19-c6f5c1f80770.png)

[2018-08-06 10:45] llelectronics commented on #92
Its not a synaptic touchpad and the touchpad stuff is wired weirdly to the whole system on a hardware level. Its a miracle it works as it is :)
So basically the touchpad kcm is not working for it as the driver is not providing the information/features of a touchpad

[2018-08-06 10:46] bhush9 commented on #91
RELE.. is Release... but yes, icon seems to be there for some reason, will investigate.

[2018-08-06 10:49] bhush9 commented on #89
This looks like is due to date configuration being wrong?

[2018-08-06 13:21] #80 closed, assigned to aleixpol

[2018-08-06 13:21] #81 closed, assigned to bhush9, aleixpol

[2018-08-06 13:22] #40 closed, assigned to aleixpol

[2018-08-06 13:22] star-buck opened #93 "add frei0r-plugins for kamoso fx"

[2018-08-06 13:23] star-buck commented on #90
new sdcard seems to be better, will watch and reopen if necessary

[2018-08-06 13:23] #90 closed, assigned to nobody

[2018-08-06 13:25] bhush9 commented on #91
Ah, this is ubiquity actually.. which comes from user edition.. Will fix.

[2018-08-06 15:44] star-buck commented on #85
if one raises the level to 150% its okay.

[2018-08-06 15:44] #85 closed, assigned to nobody

[2018-08-07 09:12] bhush9 commented on #91
This is fixed in the : https://files.kde.org/neon/images/pinebook-remix-nonfree/useredition/20180807-0602/

[2018-08-07 09:30] bhush9 commented on #89
for record,

[code]

I am investigating more.

[2018-08-07 10:57] bhush9 commented on #88
also, this is related to high load in #90 I believe.

[2018-08-07 11:00] bhush9 commented on #86
The images are now at : https://files.kde.org/neon/images/pinebook-remix-nonfree/useredition/

[2018-08-07 11:08] bhush9 commented on #76
I am working with jgrulich for this bug and have provided required debug information.

[2018-08-07 11:27] bhush9 commented on #89
Found issue. Trying potential fix locally.

[2018-08-07 11:53] bhush9 commented on #89
The issue we thought was missing libnss-systemd which was removed to fix the #77 but it doesn't seem to have helped with the problem.

[2018-08-07 12:38] star-buck commented on #89
Yeah, its still 1:30-2 minutes before live boots up here.

[2018-08-07 12:43] bhush9 commented on #89
Um no, That delay bug is already fixed

it takes roughly 1:30-2 minutes to boot sure, but not 1:30-2 minutes of blocking (and total of 4 minutes of boot time), what I meant was fix for the delay bug might have caused this bug of time, but that was not cause.

[2018-08-07 13:36] star-buck commented on #89
i think it is 1:30-2min of blocked boot time, right after the neon logo disappears

then it takes that time before cursor shows up and the splash comes... then it takes again some 1:00min to boot from splash into full desktop appears

will test with next new flashed img and stopwatch time in new ticket.

[2018-08-07 13:44] #84 closed, assigned to bhush9

[2018-08-07 13:45] #82 closed, assigned to bhush9

[2018-08-08 05:47] bhush9 commented on #89
So I have image which supposedly should fix wrong date and time,

# Testing done

- Since my hardware clock was already in correct form I set it to Sept 13 2010, it doesn't allow me to set anything less then 2010 for some reason (probably good reason I believe)
- Shutdown and reboot into the mate image to ensure that hardware clock and system clock state is "wrong" (as-in it stores Sept 13 2010 da

[2018-08-08 07:39] adriaandegroot commented on #89
This will fail when the certificate start date is in the future -- that's a problem I have fairly regularly in VMs which have been suspended for a while and where sync-to-host-clock is disabled (e.g. whatever a default Manjaro install does). For instance, when I set the date (manually) to january 28th and try github from my local VM, I get a "not secure" notice from FF, telling me the date on my c

[2018-08-08 11:25] adriaandegroot commented on #88
#52 was closed with "increase the timeout and things will be ok", which is a workaround, not a solution. The real solution is to use a different module (not written yet, see Calamares issue #921). Here we might bump the timeout again, but that's just masking the problem and having no feedback during the operation is .. suboptimal.

[2018-08-08 11:54] bhush9 commented on #89
Okay finally I figured out what was issue with build_stamp workaround, I was using timedatectl, but since timesyncd is not started at that point, it will fail/hang forever. I have fixed it to use the traditional date command.

https://files.kde.org/neon/images/pinebook-remix-nonfree/useredition/20180808-1033/

# Testing done:

- From mate image set time to something in past (2012-12-12 in this cas

[2018-08-08 14:19] davidedmundson commented on #89
I tried with one MicroSD card and had a failed boot. This card was weirdly hot after writing it, so probably doesn't count but worth mentioning.

Next boot with a new card and a different usb writer:
Boot took 1 minute 41
Timestamp on boot was 8th August 11am
After connecting to the internet NTP did not update immediately
NTP did update after a few minutes.

[2018-08-08 15:55] aleixpol commented on #93
It needs some runtime dependencies. After running this command everything works:
`sudo apt install frei0r-plugins gstreamer-plugins-bad`

[2018-08-19 14:27] star-buck commented on #89
is this satisfyingly fixed to not block RC release?

[2018-08-19 17:28] star-buck commented on #67
Firefox Preferences:
- Privacy and Security: disable both options under "Firefox data collection and use", so to speed up performance and not send any data
- Untick the “Use recommended performance settings” box, then use the dropdown to increase the Content process limit as far as “7.”

[2018-08-19 17:47] star-buck commented on #67
about:config:
- browser.cache.disk.enable false
- browser.cache.offline.capacity  -1
- dom.animations-api.element-animate.enabled = False

[2018-08-19 18:01] star-buck commented on #67
currently just experimenting if it makes any difference:
- Untick the “Use recommended performance settings” box, then use the dropdown to increase the Content process limit as far as “7.”
-  about:config: dom.animations-api.element-animate.enabled = False

[2018-08-19 18:14] star-buck commented on #67
all applied, these optimizations seem to make things go quicker here, like watching youtube without that annoying "continue loading?" popup.
I suggest to ship them all in RC as recommended in the forum, and then do more testing and see feedback from the community if released as RC.

[2018-08-19 18:31] star-buck commented on #88
@adriaandegroot : would this need a common fix in cala or is it special as in pinebook only? if former, maybe we can close here for now and you open a proper bug in cala issues.

[2018-08-19 20:12] star-buck opened #94 "sound coming both out of speaker and headphones"
reference: https://forum.pine64.org/showthread.php?tid=4698

seems no proper solution to automute has been found yet.

[2018-08-19 20:18] star-buck commented on #93
@bhush9 : gstreamer-plugins-bad doesnt exist, but adding frei0r-plugins fixes the issue.

[2018-08-19 20:25] star-buck opened #95 "smplayer: videos started from youtube browser and also .webm local videos do cause big black stripes while playback"
doing a screenshot does not capture the stripes, so one can only try open youtube browser or local webm file with smplayer and see result.
I recall this was working before on xenial on both overlay and opengl mode?

[2018-08-19 20:33] star-buck opened #96 "Firefox: after install and second reboot, FF preload window comes up (need to reboot a few times more to see if it is due to shorter boot time after first reboot)"

[2018-08-19 20:34] #91 closed, assigned to bhush9

[2018-08-19 20:36] star-buck commented on #65
uups, just saw this existed... well now it is bumped :)

[2018-08-19 20:36] #65 closed, assigned to nobody

[2018-08-19 20:39] star-buck commented on #76
nothing seems to have happened in that ticket at least.
Any trick to not show it, like is it a regression that it worked on xenial or what is the exact issue?

[2018-08-21 06:03] bhush9 commented on #93
Added to list, new image needs rebuilding.

[2018-08-21 15:22] star-buck commented on #89
closing for now

[2018-08-21 15:22] #89 closed, assigned to bhush9

[2018-08-21 15:30] star-buck commented on #67
possible ideas to stop annoying first time popups:
- toolkit.telemetry.reportingpolicy.firstRun = false
- datareporting.policy.firstRunURL = EMPTY
- startup.homepage_welcome_url = EMPTY

[2018-08-21 15:40] star-buck opened #97 "Firefox: disable accidental zoom on trackpad"
about:config:
- mousewheel.with_control.action = 0
- zoom.maxPercent to 100
- zoom.minPercent to 100

[2018-08-21 15:42] star-buck commented on #93
works

[2018-08-21 15:42] #93 closed, assigned to bhush9, aleixpol

[2018-08-21 15:47] star-buck opened #98 "Discover: hitting "check for updates" followed right away by "update all" does grey out button but never asks for password"

[2018-08-21 15:48] star-buck commented on #96
possible solutions:
- toolkit.telemetry.reportingpolicy.firstRun = false
- datareporting.policy.firstRunURL = EMPTY
- startup.homepage_welcome_url = EMPTY

[2018-08-21 15:48] bhush9 commented on #98
For record I am unable to reproduce this issue.

[2018-08-21 15:58] star-buck commented on #98
it is reproducible like this here:
start discover, hit "check for updates", then simply hit "update all" button right after that so both are now greyed out.
while check for updates does become non-greyed out after a while, the update all button stays greyed out without asking password nor doing anything forever.

[2018-08-21 16:00] star-buck commented on #98
will reboot and try again just to make sure something hasnt been screwed in the meantime

[2018-08-21 18:28] star-buck commented on #98
after reboot, couldnt reproduce either.... password field comes up now after "check for updates" is done and ungreyed out. will further pay attention how i got it to be broke the first time.

[2018-08-22 22:04] adriaandegroot commented on #83
Suspend doesn't seem to work,, reported by lukasz in the pine channel, and resume doesn't work at all.

[2018-08-23 14:49] llelectronics opened #99 "powermanagement: default settings conflicting with user settings"
When unchecking settings in powermanagement they get overwritten on reopening the settings by the default values shipped in the xdg data dir folder.

See upstream bug report here: https://bugs.kde.org/show_bug.cgi?id=397793

[2018-08-24 17:18] star-buck commented on #86
done and closed

[2018-08-24 17:18] #86 closed, assigned to bhush9

[2018-08-24 17:19] star-buck opened #100 "Forum: add live img password info to first forums post"
edit post to add live password info in original post:
https://forum.pine64.org/showthread.php?tid=6443

[2018-08-28 16:57] aleixpol commented on #98
Good catch, will look into it this week.

From our bugtracker:
https://bugs.kde.org/show_bug.cgi?id=397759

[2018-08-29 16:20] aleixpol commented on #98
I managed to reproduce, should be fixed now.
I backported the fix to 5.12 and 5.13.

[2018-09-01 21:51] star-buck commented on #98
This doesnt seem the only problem:
https://www.reddit.com/r/kde/comments/9c5vy1/discover_wont_update_cant_cancel_update_either/

Its supposed to be also while catching the sizes info

[2018-09-02 17:10] aleixpol commented on #98
It should be the same issue.

[2018-09-15 07:44] star-buck opened #101 "Cala: optical stuck at 13% "create locale" for approx. 1 minute"
never seen that gap/pause at that point before so long...
it does continue but seems optical bad like stuck, as it is again stuck for a while at 73% "installing packages" which does seem valid as a user thinks packages might take a while...

[2018-09-15 07:46] star-buck commented on #100
still the password has not been added to the first post.
(Adding a link is not sufficient as why not add this info directly with the first post, as it is important?)

[2018-09-15 07:47] star-buck commented on #88
@adriaandegroot : has this been fixed properly?

[2018-09-15 07:48] star-buck commented on #76
@bhush9 : still an issue, this would be nice to have fixed if neon was to installed default.

[2018-09-15 07:48] star-buck commented on #97
@bhush9 : have you disabled this?

[2018-09-15 07:54] star-buck opened #102 "closing lid: pinebook goes into sleep mode instead of suspend"
This is confusing for users, as the settings say "suspend" and people expect suspend, so they do think of a bug when the battery does drain while lid is closed.

[2018-09-15 07:54] #83 closed, assigned to bhush9

[2018-09-15 07:54] star-buck commented on #102
reference: https://forum.pine64.org/showthread.php?tid=5984&pid=37895#pid37895

[2018-09-15 07:58] star-buck opened #103 "systray: battery and brightness: slider works in opposite direction after resume from sleep"
when moving slider to the left, it should decrease brightness, but now it increases brightness?
So the blue line getting filled up from left to right means now decrease?

[2018-09-15 08:01] shadeslayer commented on #103
I've noticed this previously too. I recall that it only exhibited this behaviour post resume from sleep.

[2018-09-15 08:10] bhush9 commented on #103
Yes, it seems to be happening when resuming from sleep.

[2018-09-15 08:12] bhush9 commented on #94
https://packaging.neon.kde.org/neon/settings.git/commit/?h=Neon/release&id=4131ff75a3b2f9a00aa44742ca26666c7c5674f6 I have added "fix" for this in packaging as mentioned by  lukasz in one of forum post.

[2018-09-15 08:15] bhush9 commented on #100
Edited post.

[2018-09-15 08:17] bhush9 commented on #97
@shadeslayer do you have any example on how to adjust/ship the firefox customizations?

[2018-09-15 08:34] llelectronics commented on #97
@bhush9 see this repo. This is how we do it for netrunner. Though we add also a config for ff-esr (legacy reasons)
Be aware of the links file in the debian directory. Newer Firefoxes don't read /etc/firefox anymore
https://github.com/netrunner-common/netrunner-settings-firefox

[2018-09-15 08:47] bhush9 commented on #97
@llelectronics I am confused, there is lot in that repo, what exactly configures thngs? Do I need cck2 for this 3 bits? or what?

[2018-09-15 09:24] llelectronics commented on #97
The configuration changes are in /etc/firefox the contents gets linked to /usr/lib/firefox/browser/defaults/preferences nowadays as firefox otherwise won't pick that up.
This is everything you need for those configuration changes. (You don't need the linking you can put the files directly in the /usr/lib/firefox/browser/defaults/preferences folder)
CCK2 does a lot more like configure UI and settin

[2018-09-15 10:01] bhush9 commented on #97
Fixed, should be available in next image.

[2018-09-17 14:35] adriaandegroot commented on #101
@bhush9 mentioned this to me on IRC as well today. During image creation, the locales are built (in Jenkins).  That takes about a minute, here's the Jenkins log:

[code]

The *localecfg* module in Calamares does two things:
 - rewrites some small configuration files
 - calls `locale-gen` to do actual work
   - `locale-gen` in turn calls `localedef` to do the **real** work

It may be possible to ma

[2018-09-17 14:47] adriaandegroot commented on #101
Filed upstream as Cala bug #1032 https://github.com/calamares/calamares/issues/1032

[2018-09-17 15:10] star-buck commented on #101
Maybe adding a small throbber helps (psychologically) to indicate its still
doing something?

[2018-09-18 10:42] adriaandegroot commented on #94
After testing with the latest image: this fix works. Sure, it's a hack, and it's probably worth looking into why "normal" laptops don't need this (I would guess pulseaudio does something magic?). But for this image and PB release, it's good.

[2018-09-18 10:43] adriaandegroot commented on #66
This has been added as a script in the latest release. It disables the touchpad while typing.

[2018-09-18 10:47] adriaandegroot commented on #13
The latest PB image has an on-boot script that switches on BT, This has been confirmed to work on at least three machines (although I can't find my BT mouse to test it with).

[2018-09-22 07:42] #100 closed, assigned to bhush9

[2018-09-22 07:54] #66 closed, assigned to nobody

[2018-09-22 07:55] #13 closed